<div class="text-center">
        <h2>Pick a Category</h2>
        <select [(ngModel)]="selected" name="status" placeholder="select" (ngModelChange)="onOptionsSelected()">
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>

        <div id="content">
            <div class="card mx-auto">
              <form name="myForm" #ref="ngForm" (ngSubmit)="submitForm(ref)">
                
                <div class="card-body">
                  <div class="card-text">
                    <div class="form-group row">
                      <div class="form-group col-md-3">
                        <label class="col-form-label">Name</label>
                      </div>
                      <div class="form-group col-md-9">
                        <input
                          type="text"
                          name="name"
                          id="name"
                          class="form-control"
                          ngModel
                          required
                        />
                      </div>
                        <div class="form-group col-md-3">
                          <label class="col-form-label">Description</label>
                        </div>
                        <div class="form-group col-md-9">
                          <input
                            type="text"
                            name="description"
                            id="description"
                            class="form-control"
                            ngModel
                          />
                        </div>
        
                      <div class="form-group col-md-3">
                        <label class="col-form-label">Module Url</label>
                      </div>
                      <div class="form-group col-md-9">
                        <input
                          type="text"
                          name="url"
                          id="url"
                          class="form-control"
                          ngModel
                        />
                      </div>
                      
                      <div class="col-md-3"></div>
                    </div>
                  </div>
                    <div class="card-text">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="register-btn">
                        Add Module
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
          </div>
</div>
